{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" style="width: 768px; display: table; padding-top: 50px;">
    <div class="img" style="display: table-cell; padding-top: 80px;">
        <img src="{{ asset('img/indexPhone.png') }}" alt="Phone">
    </div>
    <div style="width: 300px; display: table-cell; vertical-align: top; background-color: white;padding: 25px; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
    <img src="{{ asset('img/instagramText.png') }}" alt="Instagram" width="100%" height="auto">
    <p style="text-align: center; color: gray;">
        <b>Зарегистрируйтесь, чтобы смотреть фото и видео ваших друзей.</b>
    </p>
{% endblock %}