{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 110px">

        {{ form_start(form,{ 'action' : path('app_entity_newimage') }) }}
        <div class="form-group">
            {{ form_row(form.imageFile,{'attr':{'class': 'form-control-file'}}) }}
            <br>
            <input type="submit" value="Поделиться" style="display: inline-block">
        </div>
        {{ form_end(form) }} </div>

    {% for image in images %}
        {% set form2 = formComment.createView %}
        <div class="container" style="margin-top: 40px">
            <div>
                <p style="padding: 20px">
                    <img src="{% if vich_uploader_asset(image.user,'imageFile') %}{{ vich_uploader_asset(image.user,'imageFile') }}{% else %}{{ asset('img/profileDefault.png') }}{% endif %}" alt="Avatar" width="30px">
                    <a href="{{ path('app_pagescontroller_profile',{'id' : image.user.id}) }}"> {{ image.user.username }}</a>
                </p>
            </div>
            <div>
                <img src="{{ vich_uploader_asset(image , 'imageFile') }}" alt="img" width="100%">
            </div>
            <div>
                <p><a href="{{ path('app_entity_addlike',{'id' : image.id}) }}">Нравиться! </a>| <a
                            href="{{ path('app_pagescontroller_likerslist',{'id':image.id}) }}">{{ image.likers | length }}</a>
                </p>
            </div>
            <div style="margin-top: 20px">
                <div style="padding-top: 20px;padding-left: 20px;padding-right: 20px; border: darkgray solid 1px;">
                    {% for comment in image.comments %}
                        <p>
                            <a href="{{ path('app_pagescontroller_profile',{'id' : comment.user.id}) }}">{{ comment.user.username }}
                                : </a>{{ comment.text }}
                            <span
                                    style="float: right">{{ comment.time | date('H:i:s | d-m-y') }}</span></p>
                        <hr>
                    {% else %}
                        <p>Нет коментариев</p>
                    {% endfor %}
                </div>
                {{ form_start(form2,{'action': path('app_entity_addcomment',{'id' : image.id})}) }}
                <div class="form-group">
                    {{ form_row(form2.text,{'attr':{'class': 'form-control'}}) }}
                </div>
                {{ form_end(form2) }}
            </div>

        </div>
    {% else %}
        <div class="container"><h6>Нет фото для отображения. Подпишитесь на новых людей чтобы видеть их публикации</h6>
        </div>
    {% endfor %}

{% endblock %}
