{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 110px; padding: 30px">
        <table style="width: 100%">
            {% for user in users %}
                <tr>
                    <td>
                        <p>
                            <img width="30" height="30"
                                 src="{% if vich_uploader_asset(user,'imageFile') %}{{ vich_uploader_asset(user,'imageFile') }}{% else %}{{ asset('img/profileDefault.png') }}{% endif %}"
                                 alt="avatar">
                            <a href="{{ path('app_pagescontroller_profile',{'id' : user.id}) }}">{{ user.username }}</a>
                        <hr>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td><p>Нет Пользователей для отображения</p></td>
                </tr>
            {% endfor %}

        </table>

    </div>
{% endblock %}

