{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 110px; padding: 30px">
        <table style="width: 100%">
            <tr>
                <td><p><span>Имя пользователя </span>{{ user.username }}</p></td>
                <td style="float: right"><p>
                        <a href="{{ path('app_pagescontroller_followerlist',{'id': user.id}) }}">Подписчиков</a> {{ user.followers | length }}
                    </p>
                </td>

            </tr>
            <tr>
                <td></td>
                <td style="float: right"><p><span>Публикаций</span> {{ user.images | length }}</p></td>
            </tr>
            <tr>
                <td>
                    <p><span>Email </span>{{ user.email }}</p>
                </td>
                <td style="float: right"><p><a href="{{ path('app_pagescontroller_userfollowlist',{'id': user.id}) }}">Подписки</a> {{ user.userFollow | length }}
                    </p></td>
            </tr>
            <tr>
                <td>
                    <img width="300px"
                         src="{% if vich_uploader_asset(user,'imageFile') %}{{ vich_uploader_asset(user,'imageFile') }}{% else %}{{ asset('img/profileDefault.png') }}{% endif %}"
                         alt="Avatar">
                    {% if user.id == app.user.id %}
                        <p id="avatarForm" style="margin-left: 80px;">
                            <a href="#" id="avatarChange">Изменить Аватар</a>
                        </p>
                    {% endif %}

                </td>
                <td style="float: right">
                    {% if app.user.id != user.id %}
                        {% if app.user in user.followers %}
                            <span>Вы подписаны </span><a
                                href="{{ path('app_entity_removefollower',{'id': user.id}) }}" class="btn btn-primary">Отписаться</a>
                        {% else %}
                            <a href="{{ path('app_entity_addfollower',{'id' : user.id}) }}" class="btn btn-primary">Подписаться</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="container" style="margin-top: 50px; padding: 30px">
        <h2>Публикации</h2>
        {% for image in user.images %}
            <div style="width: 230px;display: inline-block; padding: 5px">
                <img src="{{ vich_uploader_asset(image,'imageFile') }}" alt="img" width="100%">
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript">
        $('#avatarChange').on('click', function (event) {
            event.preventDefault();
            let box = $('#avatarForm');
            box.html('');
            box.html(`{{ form(form,{'action' : path('app_entity_changeavatar',{'id' : user.id})}) }}`);
        });
    </script>
{% endblock %}


