<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Instagram{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
        .container {
            padding: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            background-color: white;
            width: 768px;
        }

        img {
            height: auto;
        }

        body {
            background-color: #fafafa;
        }
    </style>
</head>
<body>
{% if app.user %}
    {% block header %}
        <header style="background-color: white; box-shadow: 0 0 10px rgba(0,0,0,0.2); position: fixed;width: 100%;top: 0">
            <div class="container" style="box-shadow: none;padding: 13px">
                <a href="{{ path('app_pagescontroller_tape') }}"><img src="{{ asset('img/favicon.png') }}"
                                                                      alt="instagramm" width="40"></a> | <a
                        href="{{ path('app_pagescontroller_tape') }}"><img
                            src="{{ asset('img/instagramText.png') }}" alt="instagramm" width="120"></a>
                <form action="{{ path('app_pagescontroller_search') }}" style="display: inline">
                    <input name="searchName" type="text" placeholder="Имя пользователя">
                    <input type="submit" value="Найти">
                </form>

                <a href="{{ path('fos_user_security_logout') }}"
                   style="float: right; padding-left: 20px;padding-top: 7px">Выйти</a>
                <a href="{{ path('app_pagescontroller_profile',{'id' : app.user.id}) }}"><span class="btn btn-primary"
                                                                                               style="float: right">{{ app.user.username }}</span></a>
                <a href="{{ path('app_pagescontroller_tape') }}"><span class="btn btn-primary"
                                                                       style="float: right;margin-right: 10px">Лента</span></a>
            </div>
        </header>
    {% endblock %}{% endif %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
