{% extends '@FOSUser/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block header %}
{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <p>{{ user.username }} ,спасибо за регистрацию! Теперь вы можете пользоваться Сайтом в полной мере!</p>

        <p><a href="{{ path('app_pagescontroller_tape') }}">Перейти на страницу Ленты</a></p>
    </div>
{% endblock fos_user_content %}
{% block javascripts %}
    <script>
        setTimeout(function () {
            window.location.replace('/tape');
        },3000)
    </script>
{% endblock %}
