{% trans_default_domain 'FOSUserBundle' %}
{% include '@App/indexTemplate.html.twig' %}
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="form-group">
    {{ form_row(form.username,{'attr' : {'class':'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.email,{'attr' : {'class':'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.plainPassword.first,{'attr' : {'class':'form-control'}}) }}
    {{ form_row(form.plainPassword.second,{'attr' : {'class':'form-control'}}) }}
</div>

<input style="width: 100%" type="submit" class="btn btn-primary" value="Регистрация"/>
{{ form_end(form) }}
<br>
<p style="font-size: 12px;">Есть аккаунт? <a href="{{ path('fos_user_security_login') }}">Вход</a></p>
