{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% include '@App/indexTemplate.html.twig' %}
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <div class="form-group">
        <label for="username">Email или Имя пользователя</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
               required="required"/>
    </div>
    <div class="form-group">
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input class="form-control" type="password" id="password" name="_password" required="required"/>
    </div>
    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>


    <input style="width: 100%" class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Войти"/>
</form>
<br>
<a style="font-size: 12px; text-align: center;display: block;width: 100%" href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a>
<br>
<p style="font-size: 12px;">Еще нет аккаунта? <a href="{{ path('fos_user_registration_register') }}">Зарегистрируйтесь</a></p>
{% endblock fos_user_content %}
